.welcome_wrapper {
  margin-bottom: 10px;
  :global {
    .ant-card {
      height: 512px;
      .ant-card-body {
        padding: 20px;
        .ant-btn{
          width: 100%;
          border-radius: 2px;
          padding: 0;
        }
        .ant-list-split .ant-list-item{
          border: none;
          padding: 4px 0;
          .ant-typography, .ant-typography p{
            margin: 0;
          }
        }
      }
    }
  }
}