.shopping_cart_wrapper {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 16px 16px;
  background: #ffffff;
  :global {
    .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
      background: #fe5601;
    }
    .ant-steps-item-finish > .ant-steps-item-tail::after {
      background: #fe5601;
    }
    .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
      background: #fe5601;
    }
  }
}