#partial_wrapper {
  background-color: #ffffff;
  .partial_search_nav_line {
    margin: 0;
    height: 2px;
    background: #317ee7;
    top: 0;
  }
  #partial_search_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  #partial_nav_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  #partial_data_wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  #partial_trading_wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  #partial_goods_wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  #partial_business_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  #partial_service_wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  #partial_product_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  #partial_new_wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
