.bdzz_wrapper {
  :global {
    .ant-card {
      .ant-card-body {
        padding: 0;
        padding-top: 10px;
        img{
          cursor: pointer;
        }
      }
      .ant-card-head{
        padding: 0;
        border: none;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}