.goods_detail_wrapper {
  .introduct_box {
    padding: 15px 15px 0;
    background-color: #f5f8fd;
  }
  :global {
    .ant-card {
      .ant-card-head {
        padding: 0 10px 0 0;
        .ant-card-head-wrapper {
          .ant-card-head-title {
            padding: 0;
            .ant-tabs {
              margin: 0;
              .ant-tabs-tab-active {
                color: #ffffff;
                background: #1890ff;
              }
              .ant-tabs-tab {
                padding: 0 10px;
                margin: 0;
                height: 50px;
                line-height: 50px;
              }
              .ant-tabs-bar {
                border: none;
                margin: 0;
              }
              .ant-tabs-ink-bar {
                background-color: transparent;
              }
            }
          }
        }
      }
      .ant-card-body{
        table {
          border-collapse: collapse;
        }

        table, td, th {
          border: 1px solid black;
          text-align: center;
        }
      }
    }

  }
}