.sczx_wrapper {
  :global {
    .ant-card {
      .ant-card-body {
        border: 1px solid #e8e8e8;
      }
      .ant-card-head {
        padding: 0;
        font-weight: bold;
        font-size: 15px;
      }
      .ant-list-items {
        .ant-list-item {
          cursor: pointer;
          padding: 0;
          border: none;
        }
      }
    }
  }
}