.header-nav-layout {
  .header_logo {
    height: 26px;
    vertical-align: middle;
  }
  .header-nav-layout-content {
    margin: 0 auto;
    background-color: #f0f2f5;
  }
  .copyright {
    font-size: 13px;
    color: #bdc2c7;
    min-width: 1200px;
  }
  :global {
    .ant-menu-horizontal > .ant-menu-item > a::before {
      bottom: 0;
    }
    .ant-layout {
      min-width: 1200px;
      background-color: #ffffff;
      .ant-layout-header {
        background: rgb(68, 68, 68);
        height: 40px;
        overflow: hidden;
        //height: 84px;
        #header {
          width: 1200px;
          margin: 0 auto;
          height: 40px;
          line-height: 40px;
          .ant-menu-horizontal {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            border: none;
          }
          .ant-menu-item {
            background: rgb(68, 68, 68);
            margin-top: 0;
            top: 0;
            border: none;
            a {
              color: #FFFFFF;
              span {
                font-size: 14px;
              }
            }
            &:hover {
              background-color: #ff7201;
              border: none;
              a {
                color: #FFFFFF;
              }
            }
          }
          .ant-menu-item-selected {
            background-color: #ff7201;
            border: none;
            a {
              color: #FFFFFF;
            }
            &:hover {
              a {
                color: #FFFFFF;
              }
            }
          }
          .header_more {
            color: #FFFFFF;
            padding: 0 10px;
            &:hover {
              cursor: pointer;
              color: #FFFFFF;
            }
          }
        }
        .show_name {
          color: #333333;
        }
        #header_menu {
          //background-color: #1c2a75;
          //border-bottom: 1px solid #1c2a75;
          .ant-menu {
            margin: 0 auto;
            width: 1200px;
            line-height: 40px;
            //background-color: #1c2a75;
            color: rgba(0, 0, 0, 0.65);
            .ant-menu-item {
              height: 40px;
              //border-bottom: 3px solid transparent;
              //&:hover {
              //  color: #ffffff;
              //  border-color: transparent;
              //}
            }
            //.ant-menu-item-selected {
            //color: #ffffff;
            //border-bottom: 3px solid #ffffff;
            //&:hover {
            //  border-color: #ffffff;
            //}
            //}
          }
          .ant-menu-horizontal {
            border: none;
          }
          .ant-menu-horizontal .ant-menu-item, .ant-menu-horizontal .ant-menu-submenu {
            //margin-top: -2px;
          }
        }
      }
    }
  }
}
